:root {
	--c_bg: #000000;
	--c_text: #dddddd;
	--c_button: #222222;
	--c_hover: #333333;
}

body {
	background-color: var(--c_bg);
	color: var(--c_text);
	font-family: sans-serif;
	padding-left: 10px;
	padding-right: 10px;
	max-width: 1500px;
	margin: auto;
	text-align: left;
}

h1 {
	font-size: 4em;
}

.edit {
	display: none;
}

a, .edit_link {
	border: dotted 2px;
	padding: 4px;
	margin-left: 4px;
	margin-top: 4px;
	font-size: 1.5rem;
	text-decoration: none;
	display: inline-block;
}

a:hover {
	text-decoration: underline;
}

button, input {
	background-color: var(--c_button);
	color: var(--c_text);
	border: none;
}

button:hover, input:hover {
	background-color: var(--c_hover);
}

hr {
	border-color: var(--c_hover);
}

fieldset {
	border-color: var(--c_text);
	margin-top: 16px;
	margin-bottom: 16px;
	width: fit-content;
}

#navbar button {
	padding: 6px;
	font-size: 1.25rem;
	margin: 2px;
}

#linklist {
	margin-top: 5px;
	margin-bottom: 5px;
}

.delete {
	color: red;
}

.editor_link_buttons {
	display: none;
}

.edit_link:hover .editor_link_buttons {
	display: inline;
}